name: Deploy to Nomad (Podman)

on:
  push:
    branches: [ "main", "master" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: sebbemercier/eldocam_frond_end  # en minuscules
  NOMAD_REGION: "us-east-1"
  NOMAD_NAMESPACE: "default"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Image Name
        run: echo "FULL_IMAGE_NAME=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}" >> $GITHUB_ENV

      - name: Log in to GHCR
        run: echo "${{ secrets.GITHUB_PAT }}" | podman login ${{ env.REGISTRY }} -u ${{ github.actor }} --password-stdin

      - name: Build image with Podman
        run: podman build -t ${{ env.FULL_IMAGE_NAME }} .

      - name: Push image with Podman
        run: podman push ${{ env.FULL_IMAGE_NAME }}

      - name: Verify image exists in registry
        run: |
          IMAGE_URL="https://${{ env.REGISTRY }}/v2/${{ env.IMAGE_NAME }}/manifests/${{ github.sha }}"
          echo "Checking if image exists at: $IMAGE_URL"
          # Utilisez le token personnel pour vous authentifier
          AUTH_TOKEN=${{ secrets.GITHUB_PAT }}
          if curl -s -I -o /dev/null -w "%{http_code}" -H "Authorization: Bearer $AUTH_TOKEN" "$IMAGE_URL" | grep -q "200"; then
            echo "Image successfully pushed to registry"
          else
            echo "Image not found in registry"
            echo "Trying to list all images in the repository..."
            curl -s -H "Authorization: Bearer $AUTH_TOKEN" -H "Accept: application/vnd.docker.distribution.manifest.v2+json" "https://${{ env.REGISTRY }}/v2/${{ env.IMAGE_NAME }}/tags/list"
            exit 1
          fi

      - name: Install Nomad CLI
        run: |
          curl -fsSL https://apt.releases.hashicorp.com/gpg | sudo apt-key add -
          sudo apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com $(lsb_release -cs) main"
          sudo apt-get update && sudo apt-get install -y nomad=1.7.2-1

      - name: Check Nomad connection
        run: |
          export NOMAD_ADDR=${{ secrets.NOMAD_ADDR }}
          export NOMAD_TOKEN=${{ secrets.NOMAD_TOKEN }}
          if nomad server members | grep -q "alive"; then
            echo "Nomad server is reachable"
          else
            echo "Nomad server is NOT reachable"
            exit 1
          fi

      - name: Deploy to Nomad
        run: |
          export NOMAD_ADDR=${{ secrets.NOMAD_ADDR }}
          export NOMAD_TOKEN=${{ secrets.NOMAD_TOKEN }}
          export NOMAD_REGION=${{ env.NOMAD_REGION }}
          export NOMAD_NAMESPACE=${{ env.NOMAD_NAMESPACE }}

          echo "Deploying job to Nomad..."
          nomad job run \
            -var="image=${{ env.FULL_IMAGE_NAME }}" \
            eldocam.nomad.hcl

          echo "Job deployed successfully"
